<launch>

<node name = "Module1_YOLOv4_tiny"  pkg = "yolo_seedpoint_look"     type = "Mod1_YOLOv4_node.py"    output = "screen"   required = "true">
    <!-- <param name="camport1"      value="/dev/video0"/> -->
</node>

<node name = "Module2_YOLOv4_tiny"  pkg = "yolo_seedpoint_look"     type = "Mod2_YOLOv4_node.py"    output = "screen"   required = "true">
    <!-- <param name="camport2"      value="/dev/video1"/> -->
</node>

<node name = "serial_node"          pkg = "rosserial_python"        type = "serial_node.py"         required = "true">
    <param name = "port"        type = "string"         value = "/dev/ttyUSB0"/>
    <param name = "baud"        type = "int"            value = "57600"/>
</node>

<node name = "Module1_ROS"          pkg = "yolo_seedpoint_look"     type = "module1_test.py"        output = "screen"   required = "true">
</node>

<node name = "Module2_ROS"          pkg = "yolo_seedpoint_look"     type = "module2_test.py"        output = "screen"   required = "true">
</node>

<!-- <node name = "Plant_ROS"            pkg = "yolo_seedpoint_look"     type = "Plant_Node.py"          output = "screen"   required = "true">
</node> -->
</launch>